<div class="editorupdates">
<h3>{{name}}</h3>
<ul class="difflist">
{{#each diffs}}
<li title="{{difftext}}" data-file="{{file}}" class="difflistitem"><span class="diffrevert" title="Click to revert to published content (will trigger editor reload.)">↺</span>{{diffpage}}</li>
{{/each}}
</ul>
</div>
